/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
#root {
  width: 100%;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn:hover {
  background-color: aliceblue;
  color: #00bafc;
  border: 1px solid #00bafc;
}
.header__btn,
.btn {
  background-color: #00bafc;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.8rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.btn__bag {
  color: aliceblue;
}
